---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import { languages } from "@/i18n/ui";
import { Content as CvIt } from "@/components/cv/it.mdx";
import { Content as CvEn } from "@/components/cv/en.mdx";

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({ params: { lang } }));
}

const { lang } = Astro.params;
const CV = lang == "it" ? CvIt : CvEn;
---

<BaseLayout>
  <div transition:name="article">
    <ArticleLayout tocId="cv">
      <CV />
    </ArticleLayout>
  </div>
</BaseLayout>
